<container>
    <nav>
        <h1 class="navHeader">
            Midstream
            <span>Beta</span>
        </h1>
        {% include 'includes/buttons/return-page-button.html' %}
    </nav>
</container>


<style>
    nav {
        background-color: #3e4c64;
        padding: 1rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navHeader {
        color: white;
        font-size: 1.25rem;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .navHeader span {
        background-color: #4299e1;
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.875rem;
        margin-left: 0.5rem;
        line-height: 1;
    }
</style>