<form
  class="referralForm"
  id="referralForm"
  action="/upload-referral-form"
  method="post"
>
  <!-- Section 1: Personal Information -->
  {% include 'includes/forms/formSteps/step-1-personal-information.html' %}

  <!-- Section 2: Medical Information -->
  {% include 'includes/forms/formSteps/step-2-medical-information.html' %}

  <!-- Section 3: Disability Information -->
  {% include 'includes/forms/formSteps/step-3-disability-information.html' %}

  <!-- Section 4: Additional Information -->
  {% include 'includes/forms/formSteps/step-4-additional-information.html' %}
  <!-- Section 5: Referrer Information   -->
  {% include 'includes/forms/formSteps/step-5-referrer-information.html' %}
  <!-- Section 6: Referrer's Contact Details -->
  {% include 'includes/forms/formSteps/step-6-emergency-contact.html' %}
  <!-- Section 7: Consent & Privacy -->
  {% include 'includes/forms/formSteps/step-7-consent.html' %}
  <!-- Section 8: Signatory -->
  {% include 'includes/forms/formSteps/step-8-signatory.html' %}
</form>

<script></script>
