<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MidStream</title>
  <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet" />
  <style>
    .home-page-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }
  </style>
</head>

<body>
  <header>{% include 'includes/navbar.html' %}</header>
  <section class="home-page-section">
    {% include 'includes/chatContainer/chat-container.html' %}

    {% include 'includes/buttons/index-buttons.html' %}
  </section>

  <script>

  </script>
</body>

</html>